<div>
    <div class="container py-5 ">
        <h2>Our devices</h2>
        <div  class="my-5">GNSS devices</div>
        <div class="row">
            <div  class="col-md-5 shadow my-4">
                <img  src="/assets/images/Trimble.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-7 my-4"> 
                <h3 class="text-center py-1">Trimble</h3>
                <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                        <img src="/assets/images/tr1.jpg" class="w-100  "  alt="">
                    </div>
                    <div  class=" mx-5">
                        <img src="/assets/images/tr2.jpg" class="w-100 " alt="">
                    </div>
                    <div  class="">
                        <img src="/assets/images/tr3.jpg" class="w-100 " alt="">
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div  class="col-md-5 shadow my-4">
                <img  src="/assets/images/Trimble.jpg" class="w-100" alt="">
            </div>
            <div class="col-md-7 my-4"> 
                <h3 class="text-center py-1">Trimble</h3>
                <div class="d-flex justify-content-center align-items-center ">
                    <div class="">
                        <img src="/assets/images/tr1.jpg" class="w-100  "  alt="">
                    </div>
                    <div  class=" mx-5">
                        <img src="/assets/images/tr2.jpg" class="w-100 " alt="">
                    </div>
                    <div  class="">
                        <img src="/assets/images/tr3.jpg" class="w-100 " alt="">
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
