<div class="container   py-5">
  <h2 class="text-center outer-shadow">LeaderShip</h2>
  <h1 class="text-center outer-shadow">Board of directors</h1>
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" >
            <!-- <img class="w-100 rounded-circle" src="./assets/images/taha.jpeg" > -->
          </button>
          <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2">
            <!-- <img class="w-100 rounded-circle" src="./assets/images/ragab2.PNG" > -->
          </button>
          
        </div>
        <div class="carousel-inner py-5" >
          <div class="carousel-item active text-center" data-bs-interval="3000">
              <img style="width: 100px;" src="./assets/images/taha.jpeg" class="rounded-circle imago" alt="...">
            <div class="py-4 border ">
                <h4 class="pt-5 ">General manager</h4>
                <p class="py-3 ">General Contracting & Supplies which is Egyptian company that specializes in all civil engineering and supply activities within the Arab Republic of Egypt in order to participate in the expansion of infrastructure. The company brings together qualified engineering, professional and administrative personnel in all disciplines. The company provides professional task forces to carry out all the required work in accordance with the size and nature of the project, in order to improve the level of service it provides to become a leading company in the contracting, infrastructure and supply market throughout the Republic. </p>
            </div>
          </div>
          <div class="carousel-item text-center" data-bs-interval="2000">
              <img style="width: 100px;" src="./assets/images/ragab2.PNG" class="rounded-circle imago" alt="...">
            <div class="py-4 border ">
                <h4 class="pt-5">Executive manager</h4>
                <p  class="py-3">General Contracting & Supplies which is Egyptian company that specializes in all civil engineering and supply activities within the Arab Republic of Egypt in order to participate in the expansion of infrastructure. The company brings together qualified engineering, professional and administrative personnel in all disciplines. The company provides professional task forces to carry out all the required work in accordance with the size and nature of the project, in order to improve the level of service it provides to become a leading company in the contracting, infrastructure and supply market throughout the Republic. </p>
            </div>
          </div>
          
        </div>
        
      </div>
    
</div>
