<div id="Clients">
    <div class="container py-5 " id="client">

        <h1 class="text-center my-5 outer-shadow">Our Clients</h1>
        <div class="">
            <div class="row g-4">
                <div class="col-md-2 col-sm-4 col-6" >
                    <div class="shadow d-flex align-items-center avg-height scale" style="height: 190px;">
                        <img src="/assets/images/logo/alstom.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2  col-sm-4 col-6" >
                    <div class="shadow scale" style="height: 190px;">
                        <img src="/assets/images/logo/arabcont.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/allamlogo.jpeg" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/Orascom.png" class="w-100" alt="">
                    </div>
                    
                </div>
                <div class="col-md-2 col-sm-4 col-6" >
                    <div class="shadow scale" style="height: 190px;">
                        <img style="height: 180px;" src="/assets/images/logo/arclock.png" class="w-100 " alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6" >
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/BCE.png" class="w-100 " alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow scale" style="height: 190px;">
                        <img src="/assets/images/logo/Bostan.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6" >
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/chinise.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6" >
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/BlackSheep_Logo.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/edecs.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/egmed.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow overflow-hidden d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/elaraby.jpg" class="w-100 py-5" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/Electro-Tharwat.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/emaar.jpg" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/Elmasria.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/future.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/gab.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/innova.jpeg" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/Micro-Engineering.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6" >
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/mobica.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/zone.png" class="w-100" alt="">
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/qsit.png" class="w-100" alt="">
                    </div>
                </div>
                
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/oncord.png" class="w-100" alt="">
                    </div>
                    
                </div>
                <div class="col-md-2 col-sm-4 col-6">
                    <div class="shadow d-flex align-items-center scale" style="height: 190px;">
                        <img src="/assets/images/logo/modern.jpg" class="w-100" alt="">
                    </div>
                    
                </div>
                
                
            </div>

        </div>
    </div>
</div>
