<div class="container-fluid px-0">
    <div >
        <div class=" position-relative">

            <h1 class="position-absolute z-3 home-slide text-white">Our story beyond Surveying</h1>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="position-relative">
                        <h2 class="position-absolute home-slide1 z-3 text-white">Total staion services</h2>
                        <img   class="w-100 vh-100 object-fit-cover" src="./assets/images/1.jpg" alt="">
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="position-relative">
                        <h2 class="position-absolute home-slide1 z-3 text-white">Laser scanner services</h2>
                        <img   class=" w-100 vh-100 object-fit-cover" src="./assets/images/2.jpg" alt="">
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="position-relative">
                        <h2 class="position-absolute home-slide1 z-3 text-white">Gps services</h2>
                        <img   class=" w-100 vh-100 object-fit-cover" src="./assets/images/6.jpg" alt="">
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="position-relative">
                        <h2 class="position-absolute home-slide1 z-3 text-white">Laser scanner services</h2>
                        <img   class=" w-100 vh-100 object-fit-cover" src="./assets/images/4.jpg" alt="">
                    </div>
                </ng-template>  
                <ng-template carouselSlide>
                    <div class="position-relative">
                        <h2 class="position-absolute home-slide1 z-3 text-white">Total staion services</h2>
                        <img   class=" w-100 vh-100 object-fit-cover" src="./assets/images/5.jpg" alt="">
                    </div>
                </ng-template>  
                
              </owl-carousel-o>


        </div>
    </div>

</div>

  

   
