<div  class=" bg-light" id="projects" >
    <div class="container py-5 bg-light">
        <div class="py-5">
            <h1 class="text-center outer-shadow position-relative">Our Projects</h1>
    
            <div  class="row py-5 g-4">
                <div  class="col-md-4 ">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/12.jpg" alt="project1" class="w-100 img-fluid ">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div  class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/14.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div  class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/15.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/16.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div  class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img style="height: 310px;" src="/assets/images/11.jpg" alt="project1" class="w-100 img-fluid object-fit-cover">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div  class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/17.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img style="height: 310px;" src="/assets/images/18.jpg" alt="project1" class="w-100 img-fluid object-fit-cover">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/19.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img style="height: 310px;" src="/assets/images/20.jpg" alt="project1" class="w-100 img-fluid object-fit-cover">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img style="height: 310px;" src="/assets/images/21.jpg" alt="project1" class="w-100 img-fluid object-fit-cover">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/22.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" shadow rounded-1 anim position-relative overflow-hidden">
                        <img  src="/assets/images/23.jpg" alt="project1" class="w-100 img-fluid">
                        <div class="layer d-flex align-items-end justify-content-center">
                            <h5 class="text-center text-white py-3">Project 1</h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
