<div id="aboutus" class="">
    <div class="container py-5">
        <h2 class="text-center my-4 fw-bolder">Engineering, Surveying Solutions,<br> Hydrographic Survey.
            <br> We have it Covered.</h2>
            <div class="row">
                <div class="col-md-6 d-flex align-items-center txt-aboutus">
                    <p class="fw-medium"><span class="text-info fs-4">Marvel for surveying</span> offers its clients a wide range
                         of surveying engineering and mapping services and solutions tailored to address their project requirements. <br>
                          Our list of services include: Mobile Mapping Survey, Drone Survey, Topographic Mapping Surveys, Construction Layout and Staking Surveys, Control Monument Network Establishment, Hydrographic surveys, Underground utility mapping surveys, Master Planning Support Surveys, Subdivision Design and Layout, High Definition 3D laser, Scanning and Modeling, Alignment Planning Surveys, Mining Survey Services, Technical Manpower Supply, Deformation Surveys ,Oil, Gas and Petrochemical Geospatial Services.</p>
                </div>
                <div class="col-md-1"></div>
                
                <div class="col-md-5">
                    <div>
                        <img src="/assets/images/st1.jpeg" class="w-100" alt="">
                    </div>
                </div>
            </div>
    </div>
</div>
